[core]
    excludesfile = /Users/mdriemel/.gitignore_global
    editor = vim
[difftool "sourcetree"]
	cmd = opendiff \"$LOCAL\" \"$REMOTE\"
	path = 
[mergetool "sourcetree"]
	cmd = /Applications/Sourcetree.app/Contents/Resources/opendiff-w.sh \"$LOCAL\" \"$REMOTE\" -ancestor \"$BASE\" -merge \"$MERGED\"
	trustExitCode = true
[commit]
    template = /Users/mdriemel/.gitmessage
    gpgsign = true
[user]
	name = Marco Driemel
	email = marco.driemel@axelspringer.com
	signingkey = D5F7A5B998553EE0
